<!-- COUNTDOWN AREA START -->
<div class="ltn__call-to-action-area ltn__call-to-action-4 section-bg-1 pt-110 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img src="img/banner/11.png" alt="#">
            </div>
            <div class="col-lg-7">
                <div class="call-to-action-inner call-to-action-inner-4 text-color-white--- text-center---">
                    <div class="section-title-area ltn__section-title-2 text-center---">
                        <h6 class="ltn__secondary-color">Todays Hot Deals</h6>
                        <h1 class="section-title">Original Stock Honey <br>  Combo Package</h1>
                    </div>
                    <div class="ltn__countdown ltn__countdown-3 bg-white--" data-countdown="2021/12/28"></div>
                    <div class="btn-wrapper animated">
                        <a href="shop.html" class="theme-btn-1 btn btn-effect-1 text-uppercase">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COUNTDOWN AREA END -->