{% load static %}
<!-- FEATURE AREA START ( Feature - 3) -->
<div class="ltn__feature-area before-bg-bottom-2 mb--30--- plr--5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__feature-item-box-wrap ltn__border-between-column white-bg">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="{% static 'img/icons/icon-img/11.png' %}" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>Curated Products</h4>
                                    <p>Unleash your taste buds with our curated selection of top-quality, fresh food</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="{% static 'img/icons/icon-img/12.png' %}" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>Eco-Friendly Packaging</h4>
                                    <p>We care for the planet, choose eco-friendly packaging</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="{% static 'img/icons/icon-img/13.png' %}" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>Fresh & Healthy</h4>
                                    <p>Discover a world of healthy choices that nourish and delight</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-12">
                            <div class="ltn__feature-item ltn__feature-item-8">
                                <div class="ltn__feature-icon">
                                    <img src="{% static 'img/icons/icon-img/14.png'%}" alt="#">
                                </div>
                                <div class="ltn__feature-info">
                                    <h4>Fast Home Delivery</h4>
                                    <p>Fresh meals & ingredients you love, delivered fast & reliably to your door</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FEATURE AREA END -->