{% load static %}
<!-- HEADER AREA START (header-5) -->
<header class="ltn__header-area ltn__header-5 ltn__header-transparent gradient-color-2">

    <!-- ltn__header-middle-area start -->
    <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-black sticky-active-into-mobile plr--9---">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="site-logo-wrap">
                        <div class="site-logo">
                            <a href="/"><img src="{% static 'img/logo-2.png' %}" alt="Logo"></a>
                        </div>
                    </div>
                </div>
                <div class="col header-menu-column menu-color-white">
                    <div class="header-menu d-none d-xl-block">
                        <nav>
                            <div class="ltn__main-menu">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/products">Menu</a></li>
                                    <li><a href="/products?filter=offers">Deals</a></li>
                                    <li><a href="/user/account/#liton_tab_1_2">Orders</a>
                                        <ul>
                                            <li><a href="/user/account/#liton_tab_1_2">Orders </a></li>
                                            <li><a href="/orders/tracking">Order Tracking</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-icon"><a href="#">Categories</a>
                                        <ul class="mega-menu">
                                            <li><a href="#">Cafe Corner</a>
                                                <ul>
                                                    <li><a href="/portfolio">Burger</a></li>
                                                    <li><a href="/portfolio/details">Pizza</a></li>
                                                    <li><a href="/team">Chinese</a></li>
                                                    <li><a href="/team/details">Biriyani</a></li>
                                                    <li><a href="/faq">Shawarma</a></li>
                                                    <li><a href="/faq">Sweets & Deserts</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Fresh Mart</a>
                                                <ul>
                                                    <li><a href="/history">Fresh Vegetables</a></li>
                                                    <li><a href="/contact">Fresh Fruits</a></li>
                                                    <li><a href="/locations">Meat & Seafood</a></li>
                                                    <li><a href="404.html">Instant & Frozen Food</a></li>
                                                    <li><a href="contact.html">Cold Drinks & Juices</a></li>
                                                    <li><a href="coming-soon.html">Cereals & Breakfast</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Party Store</a>
                                                <ul>
                                                    <li><a href="/products">Shop</a></li>
                                                    <li><a href="shop-left-sidebar.html">Shop Left sidebar</a></li>
                                                    <li><a href="shop-right-sidebar.html">Shop right sidebar</a></li>
                                                    <li><a href="shop-grid.html">Shop Grid</a></li>
                                                    <li><a href="product-details.html">Shop details </a></li>
                                                    <li><a href="cart.html">Cart</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/products"><img src="{% static 'img/banner/menu-banner-1.png' %}" alt="#"></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="special-link"><a href="/user/account/#liton_tab_1_3">My Wallet <i class="fa fa-angle-down"></i></a>
                                      <ul style="display: flex; align-items: center;">
                                        <li ><i style="font-size: 2rem;" class='bx bx-wallet'></i></li>
                                        <li style="padding: 0; display: flex; align-items: center;">
                                          <p style="color: black; text-align: start; margin: 0;">
                                            My balance<br>
                                            <span style="color: #80B500; font-size: large; font-weight: bold;">${{wallet_balance}}</span>
                                          </p>
                                        </li>
                                      </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="ltn__header-options ltn__header-options-2">
                    <!-- header-search-1 -->
                    <div class="header-search-wrap">
                        <div class="header-search-1">
                            <div class="search-icon">
                                <i class="icon-search for-search-show"></i>
                                <i class="icon-cancel  for-search-close"></i>
                            </div>
                        </div>
                        <div class="header-search-1-form">
                            <form id="#" method="get"  action="/products/?search=">
                                <input type="text" name="search" value="" placeholder="Search here..."/>
                                <button type="submit">
                                    <span><i class="icon-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- user-menu -->
                    <div class="ltn__drop-menu user-menu">
                        <ul>
                            <li>
                                <a href="#"><i class="icon-user"></i></a>
                                <ul>
                                    <li><a href="/user/account">My Account</a></li>
                                    <li><a href="/wishlists">Wishlist</a></li>
                                    {% if request.user.id %}
                                      <li><a href="#" data-toggle="modal" data-target="#liton_signout_modal">Sign out</a></li>
                                    {% else %}
                                      <li><a href="/user/signin">Sign in</a></li>
                                    {% endif %}
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- mini-cart -->
                    <div class="mini-cart-icon">
                        <a href="#ltn__utilize-cart-menu" class="ltn__utilize-toggle">
                            <i class="icon-shopping-cart"></i>
                            <sup>{{cart_quantity}}</sup>
                        </a>
                    </div>
                    <!-- mini-cart -->
                    <!-- Mobile Menu Button -->
                    <div class="mobile-menu-toggle d-xl-none">
                        <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                            <svg viewBox="0 0 800 600">
                                <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" id="top"></path>
                                <path d="M300,320 L540,320" id="middle"></path>
                                <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ltn__header-middle-area end -->
</header>
<!-- HEADER AREA END -->
{% include "components/user/modal-signout.html" %}