{% extends "public/user/base.html" %}

{% block title %}Invoice{% endblock title %}

{% block content %}

{% include "components/user/header.html" %}
{% include "components/user/cart.html" %}
{% include "components/user/mobile.html" %}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<style>
    body{
        background-color:#eee;
    }
    .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 1rem;
    }
</style>

<div class="container">
<div class="row">
        <div class="col-lg-12">
            <div class="card" style="margin-top: 10rem; margin-bottom: 2rem;">
                <div class="card-body">
                    <div class="invoice-title">
                        <h4 class="float-end font-size-15">Invoice #{{order.payment.payment_id}} <span class="badge bg-{% if order.payment.status == "Paid" %}success{% else %}danger{% endif %} font-size-12 ms-2">{{order.payment.status}}</span></h4>
                        <div class="mb-4">
                           <h2 class="mb-1 text-muted">Broccoli</h2>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1">Bangalore, Karnataka, India</p>
                            <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> info.broccoli@gmail.com</p>
                            <p><i class="uil uil-phone me-1"></i> +0123-456789</p>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-muted">
                                <h5 class="font-size-16 mb-3">Billed To:</h5>
                                <h5 class="font-size-15 mb-2">{{order.address.first_name}} {{order.address.last_name}}</h5>
                                <p class="mb-1">{{order.address.address}},</p>
                                <p class="mb-1">{{order.address.additional}},</p>
                                <p class="mb-1">{{order.address.city}}, {{order.address.state}},</p>
                                <p class="mb-1">{{order.address.country}}, {{order.address.zip_code}}</p>
                                <p class="mb-1">{{order.address.phone_number}}</p>
                                <p>{{order.address.email}}</p>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-6">
                            <div class="text-muted text-sm-end">
                                <div>
                                    <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                    <p>#{{order.payment.payment_id}}</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                    <p>{{order.created_at}}</p>
                                </div>
                                <div class="mt-4">
                                    <h5 class="font-size-15 mb-1">Order No:</h5>
                                    <p>#{{order.order_number}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                    
                    <div class="py-2">
                        <h5 class="font-size-15">Order Summary</h5>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 70px;">No.</th>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th class="text-end" style="width: 120px;">Total</th>
                                    </tr>
                                </thead><!-- end thead -->
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>
                                            <div>
                                                <h5 class="text-truncate font-size-14 mb-1">{{product.product.name}}</h5>
                                                <p class="text-muted mb-0">{{product.product.category}}</p>
                                            </div>
                                        </td>
                                        <td>$ {{product.product.price}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td class="text-end">$ {{product.price}}</td>
                                    </tr>
                                    {% endfor %}
                                    <!-- end tr -->
                    
                                    <tr>
                                        <th scope="row" colspan="4" class="text-end">Sub Total</th>
                                        <td class="text-end">${{order.total}}</td>
                                    </tr>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Discount :</th>
                                        <td class="border-0 text-end">- ${{order.discount}}</td>
                                    </tr>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Shipping Charge :</th>
                                        <td class="border-0 text-end">${{order.shipping}}</td>
                                    </tr>
                                    <!-- end tr -->
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Tax</th>
                                        <td class="border-0 text-end">${{order.vat}}</td>
                                    </tr>
                                    <!-- end tr -->
                                    {% if order.wallet > 0 %}
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">
                                            Wallet :</th>
                                        <td class="border-0 text-end">- ${{order.wallet}}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <th scope="row" colspan="4" class="border-0 text-end">Total</th>
                                        <td class="border-0 text-end"><h4 class="m-0 fw-semibold">${{order.current_price}}</h4></td>
                                    </tr>
                                    <!-- end tr -->
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                        </div><!-- end table responsive -->
                        <div class="d-print-none mt-4">
                            <div class="float-end">
                                <a href="javascript:window.print()" class="theme-btn-1 btn btn-effect-1"><i class="fa fa-print"></i></a>
                                <a href="/orders/{{order.id}}" class="theme-btn-2 btn btn-effect-2">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
</div>

{% include "components/user/feature.html" %}
{% include "components/user/footer.html" %}

{% endblock content %}