{% extends "public/user/base.html" %}

{% block title %}Orders{% endblock title %}

{% block content %}

{% load static %}

{% include "components/user/toast.html" %}
{% include "components/user/header.html" %}
{% include "components/user/cart.html" %}
{% include "components/user/mobile.html" %}
{% include "components/user/breadcrumb.html" with title='My Order' %}

<style>
    #progressbar {
        margin-bottom: 3vh;
        overflow: hidden;
        color: #26A541;
        padding-left: 0px;
        margin-top: 3vh
    }

    #progressbar #step1 {
        text-align: left;
    }

    #progressbar #step2 {
        text-align: center;
    }

    #progressbar #step3 {
        text-align: right;
    }

    #progressbar #step4 {
        text-align: right;
    }

    #progressbar li {
        list-style-type: none;
        font-size: x-small;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400;
        color: rgb(160, 159, 159);
    }

    #progressbar #step1:before {
        content: "";
        color: #26A541;
        width: 5px;
        height: 5px;
        margin-left: 0px !important;
        /* padding-left: 11px !important */
    }

    #progressbar #step2:before {
        content: "";
        color: #fff;
        width: 5px;
        height: 5px;
        margin-left: 32%;
    }

    #progressbar #step3:before {
        content: "";
        color: #fff;
        width: 5px;
        height: 5px;
        margin-right: 32%;
        /* padding-right: 11px !important */
    }

    #progressbar #step4:before {
        content: "";
        color: #fff;
        width: 5px;
        height: 5px;
        margin-right: 0px !important;
        /* padding-right: 11px !important */
    }

    #progressbar li:before {
        line-height: 29px;
        display: block;
        font-size: 12px;
        background: #ddd;
        border-radius: 50%;
        margin: auto;
        z-index: -1;
        margin-bottom: 1vh;
    }

    #progressbar li:after {
        content: '';
        height: 2px;
        background: #ddd;
        position: absolute;
        left: 0%;
        right: 0%;
        margin-bottom: 2vh;
        top: 1px;
        z-index: 1;
    }

    .progress-track {
        padding: 0 8%;
    }

    #progressbar li:nth-child(2):after {
        margin-right: auto;
    }

    #progressbar li:nth-child(1):after {
        margin: auto;
    }

    #progressbar li:nth-child(3):after {
        float: left;
        width: 68%;
    }

    #progressbar li:nth-child(4):after {
        margin-left: auto;
        width: 132%;
    }

    #progressbar li.active {
        color: black;
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #26A541;
    }

    #progressbar li.cancel:before,
    #progressbar li.cancel:after{
        background-color:#D95ABE;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f3f3f3;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 2;
        border-radius: 1rem;
    }

    .dropdown-content .arrow-up {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #f3f3f3;
        margin: 0 auto;
        margin-top: -10px;
    }

    .dropdown-content p {
        padding: 10px 12px;
        text-align: left;
        text-decoration: none;
        display: block;
        font-size: small;
    }

    .dropdown-content h6 {
        padding: 10px 12px;
        text-align: left;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .shoping-cart-table thead td{
        padding: 0px 25px;
    }
    .shoping-cart-table thead .head-td{
        padding: 0px 25px 20px;
    }
    .fa-star{
        font-size: 1.5rem;
    }
</style>

<!-- WISHLIST AREA START -->
<div class="liton__wishlist-area mb-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping-cart-inner">
                    <div class="shoping-cart-table table-responsive">

                        <table style="width: 100%;">
                            <thead style="background-color:#f7f8fa;">
                                <tr>
                                    <td colspan="5">
                                        <div class="progress-track" style="width: 100%;">
                                            <ul id="progressbar">
                                                {% for status in order.statuses.all %}
                                                <li class="step{{ forloop.counter }} active {% if status.name == 'Cancelled' %}cancel{% endif %}"
                                                    id="step{{ forloop.counter }}">{{ status.name }}</li>
                                                {% endfor %}
                                                {% if order.statuses.count < 2 %}
                                                    <li class="step2" id="step2">Shipped</li>
                                                {% endif %}
                                                {% if order.statuses.count < 3 %}
                                                    <li class="step3" id="step3">Out for delivery</li>
                                                {% endif %}
                                                {% if order.statuses.count < 4 %} 
                                                    <li class="step4" id="step4">Delivered</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Order Placed</td>
                                    <td>Total</td>
                                    <td>Ship To</td>
                                    <td>Order <span style="font-size: small; font-weight: lighter;">#{{ order.order_number }}</span></td>
                                </tr>
                                <tr style="padding-bottom: 20px;">
                                    <td class="head-td">{{ order.payment.status }}</td>
                                    <td class="head-td"><span class="math-inline">${{ order.price }}</td>
                                    <td class="head-td">
                                        <div class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                {{ order.address.first_name }} {{ order.address.last_name }}
                                            </a>
                                            <div class="dropdown-content">
                                                <div class="arrow-up"></div>
                                                <h6>{{ order.address.first_name }} {{ order.address.last_name }}</h6>
                                                <p>
                                                    {{ order.address.address }}, 
                                                    {{ order.address.additional }}, <br>
                                                    {{ order.address.city }}, {{ order.address.state }}
                                                    {{ order.address.zip_code }}, <br>
                                                    {{ order.address.country }}<br>
                                                    Phone number: {{ order.address.phone_number }}<br>
                                                    Email: {{ order.address.email }}<br>
                                                    {{ order.address.order_instruction }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="head-td">
                                        <a href="/orders/invoice/{{order.id}}">Invoice</a>
                                    </td>
                                </tr>
                            </thead>

                        {% for product in products %}

                        
                            <tbody>
                                <tr>
                                    <td class="cart-product-image" style="border: none;">
                                        <a href="product-details.html">
                                            <img src="{{ product.product.images.first.image.url }}" alt="">
                                        </a>
                                    </td>
                                    <td class="cart-product-info" style="border: none;">
                                        <h4><a href="product/details">{{ product.product.name }}</a></h4>
                                        <h6 class="cart-product-price">
                                            Quantity: <span style="font-weight: normal; float: right;">{{ product.quantity }}</span>
                                        </h6>
                                        <h6 class="cart-product-price">
                                            Price: <span style="font-weight: normal; float: right;"></span>{{ product.product.price }}</span>
                                        </h6>
                                    </td>
                                    <td class="cart-product-info" style="border: none;">
                                        <div>
                                            <h4>Order Id: <span style="font-weight: normal;">#{{ product.order.order_number }}</span></h4>
                                            <h6 class="cart-product-price">Order Confirmed On: {{ product.order.created_at }}
                                            </h6>
                                            <h6 class="cart-product-price">Expected Delivery On: {{ product.order.updated_at }}
                                            </h6>
                                        </div>
                                    </td>
                                    <td class="cart-product-stock" style="border: none;">
                                        <h6>Category: {{ product.product.category }}</h6>
                                        <h6>Payment Id: <span style="font-weight: normal;">#{{ product.payment.payment_id }}</span></h6>
                                        <h6>Method: {{ product.payment.payment_method }}</h6>
                                    </td>
                                </tr>
                                {% if order.statuses.last.name == "Delivered" %}
                                <tr>
                                    <td colspan="5">
                                        <div class="ltn__checkout-single-content ltn__returning-customer-wrap">
                                            <h5>Bought something recently? <a class="ltn__secondary-color" href="#ltn__returning-customer-login-{{forloop.counter}}" data-toggle="collapse">Leave a review!</a></h5>
                                            <div id="ltn__returning-customer-login-{{forloop.counter}}" class="collapse ltn__checkout-single-content-info">
                                                <div class="ltn__comment-reply-area ltn__form-box mb-30">
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <h4 class="title-2">Add a Review</h4>
                                                        <div class="mb-30">
                                                            <div class="add-a-review">
                                                                <h6>Your Ratings:</h6>
                                                                <div class="product-ratting">
                                                                    <ul class="star-rating">
                                                                        <li><a href="#" data-rating="1"><i class="far fa-star"></i></a></li>
                                                                        <li><a href="#" data-rating="2"><i class="far fa-star"></i></a></li>
                                                                        <li><a href="#" data-rating="3"><i class="far fa-star"></i></a></li>
                                                                        <li><a href="#" data-rating="4"><i class="far fa-star"></i></a></li>
                                                                        <li><a href="#" data-rating="5"><i class="far fa-star"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="input-item input-item-textarea ltn__custom-icon">
                                                            <input type="hidden" name="product" value="{{product.product.id}}">
                                                            <input type="hidden" name="order" value="{{order.id}}">
                                                            <input type="hidden" name="rating" value="0" id="input-rating">
                                                            <textarea name="review" placeholder="Type your comments...." required></textarea>
                                                        </div>
                                                        <div class="btn-wrapper">
                                                            <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                            </tbody>
                        {% endfor %}
                    </table>
                    <div class="mt-20 text-right">
                        {% if order.statuses.last.name != "Delivered" and order.statuses.last.name != "Cancelled" %}
                            <a href="/orders/delete/{{order.id}}" class="theme-btn-1 btn btn-effect-1">Cancel</a>
                        {% endif %}
                        <a href="/user/account/#liton_tab_1_2" class="theme-btn-2 btn btn-effect-2">Back</a>
                    </div>
                        <div class="ltn__pagination-area text-center">
                            <div class="ltn__pagination">
                                <ul>
                                    <!-- Previous page link -->
                                    {% if products.has_previous %}
                                    <li class="{% if not products.has_previous %} disabled{% endif %}"><a
                                            href="?page=1"><i class="fas fa-angle-double-left"></i></a></li>
                                    {% endif %}

                                    <!-- Current page link -->
                                    {% for page_num in products.paginator.page_range %}
                                    <li class="{% if page_num == products.number %} active{% endif %}"><a
                                            href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endfor %}

                                    <!-- Next page link -->
                                    {% if products.has_next %}
                                    <li class="{% if not products.has_next %} disabled{% endif %}"><a
                                            href="?page={{ products.paginator.num_pages }}"><i
                                                class="fas fa-angle-double-right"></i></a></li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- WISHLIST AREA START -->

{% include "components/user/feature.html" %}
{% include "components/user/footer.html" %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const stars = document.querySelectorAll('.star-rating li a');
        const ratingInput = document.getElementById('input-rating');
        stars.forEach(star => {
            star.addEventListener('click', function(e) {
                e.preventDefault();
                const rating = this.getAttribute('data-rating');
                // Highlight the stars
                stars.forEach(s => {
                    s.querySelector('.fa-star').classList.remove('fas');
                });
                this.querySelector('.fa-star').classList.add('fas');
                let prevSibling = this.parentElement.previousElementSibling;
                while (prevSibling) {
                    prevSibling.querySelector('.fa-star').classList.add('fas');
                    prevSibling = prevSibling.previousElementSibling;
                }
                // You can now use the rating value (stored in the variable `rating`)
                ratingInput.value = rating;
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const messages = [
            {% for message in messages %}
            {
                'message': '{{ message.message|escapejs }}',
                'tags': '{{ message.tags }}'
            },
            {% endfor %}
        ];
        messages.forEach(function(message) {
            showToaster_ltn(message.tags.charAt(0).toUpperCase() + message.tags.slice(1), message.message);
        });
    });
</script>

{% endblock content %}