{% extends "public/user/base.html" %}

{% block title %}Product Details{% endblock title %}

{% block content %}

{% load static %}
{% load custom_filters %}
    
    {% include "components/user/header.html" %}
    {% include "components/user/cart.html" %}
    {% include "components/user/mobile.html" %}
    {% include "components/user/breadcrumb.html" with title='Product Details' %}

    <!-- SHOP DETAILS AREA START -->
    <div class="ltn__shop-details-area pb-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="ltn__shop-details-inner mb-60">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="ltn__shop-details-img-gallery">
                                    <div class="ltn__shop-details-large-img">
                                        {% for image in product.images.all %}
                                        <div class="single-large-img">
                                            <a href="{{ image.image.url }}" data-rel="lightcase:myCollection">
                                                <img src="{{ image.image.url }}" alt="Image">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="ltn__shop-details-small-img slick-arrow-2">
                                        {% for image in product.images.all %}
                                        <div class="single-small-img">
                                            <img src="{{image.image.url}}" alt="Image">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="modal-product-info shop-details-info pl-0">
                                    <div class="product-ratting">
                                        <ul>
                                            {% comment %} Rating {% endcomment %}
                                            {% if product.rating <= 0 %}
                                                <li><a href="#"><i class="far fa-star"></i></a></li>
                                            {% endif %}
                                            {% if product.rating < 1 and product.rating > 0 %}
                                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                            {% endif %}
                                            {% if product.rating >= 1 %}
                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            {% endif %}
                                            {% comment %} End {% endcomment %}

                                            {% comment %} Rating {% endcomment %}
                                            {% if product.rating < 1 %}
                                                <li><a href="#"><i class="far fa-star"></i></a></li>
                                            {% endif %}
                                            {% if product.rating < 2 and product.rating > 1 %}
                                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                            {% endif %}
                                            {% if product.rating >= 2 %}
                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            {% endif %}
                                            {% comment %} End {% endcomment %}
                                            
                                            {% comment %} Rating {% endcomment %}
                                            {% if product.rating <= 2 %}
                                                <li><a href="#"><i class="far fa-star"></i></a></li>
                                            {% endif %}
                                            {% if product.rating < 3 and product.rating > 2 %}
                                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                            {% endif %}
                                            {% if product.rating >= 3 %}
                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            {% endif %}
                                            {% comment %} End {% endcomment %}

                                            {% comment %} Rating {% endcomment %}
                                            {% if product.rating <= 3 %}
                                                <li><a href="#"><i class="far fa-star"></i></a></li>
                                            {% endif %}
                                            {% if product.rating < 4 and product.rating > 3 %}
                                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                            {% endif %}
                                            {% if product.rating >= 4 %}
                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            {% endif %}
                                            {% comment %} End {% endcomment %}

                                            {% comment %} Rating {% endcomment %}
                                            {% if product.rating <= 4 %}
                                                <li><a href="#"><i class="far fa-star"></i></a></li>
                                            {% endif %}
                                            {% if product.rating < 5 and product.rating > 4 %}
                                                <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                            {% endif %}
                                            {% if product.rating >= 5 %}
                                                <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            {% endif %}
                                            {% comment %} End {% endcomment %}
                                            <li class="review-total"> <a href="#"> ( 95 Reviews )</a></li>
                                        </ul>
                                    </div>
                                    <h3>{{product.name}}</h3>
                                    <div class="product-price">
                                        <span>${{ product|calculate_discounted_price }}</span>
                                        <del>${{product.price}}</del>
                                    </div>
                                    <div class="modal-product-meta ltn__product-details-menu-1">
                                        <ul>
                                            <li>
                                                <strong>Categories:</strong> 
                                                <span>
                                                    <a href="#">{{product.category}}</a>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="ltn__product-details-menu-2">
                                        {% if product.stock > 0 %}
                                        <ul>
                                            <li>
                                                <div class="cart-plus-minus" data-product-min="{{ 1 }}" data-product-stock="{{ product.stock }}">
                                                    <input type="number" value="1" id="quantity" name="qtybutton" class="cart-plus-minus-box">
                                                </div>
                                            </li>
                                            <li>
                                                <button onclick="addToCart(`{{product.id}}`)" class="theme-btn-1 btn btn-effect-1" title="Add to Cart">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    <span>ADD TO CART</span>
                                                </button>
                                            </li>
                                        </ul>
                                        <ul>
                                            {% if product.stock <= 10 %}
                                            
                                            <li>
                                                <h5 style="color: #b12704;">Hurry, Only a few left!</h5>
                                            </li>

                                            {% endif %}
                                        </ul>
                                        {% else %}
                                        <ul>
                                            <li>
                                                <h5 style="color: #007600;">Currently unavailable.</h5>
                                                <p>We don't know when or if this item will be back in stock.</p>
                                            </li>
                                        </ul>
                                        {% endif %}
                                    </div>
                                    <div class="ltn__product-details-menu-3">
                                        <ul>
                                            <li>
                                                <a href="#" class="" title="Wishlist" data-toggle="modal" data-target="#liton_wishlist_modal">
                                                    {% if product|in_wishlist:request.user %}<i class="fa fa-heart" style="color: #FF0000;"></i>{% else %}<i class="far fa-heart"></i>{% endif %}
                                                    <span>Add to Wishlist</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="" title="Compare" data-toggle="modal" data-target="#quick_view_modal">
                                                    <i class="fas fa-exchange-alt"></i>
                                                    <span>Compare</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="ltn__social-media">
                                        <ul>
                                            <li>Share:</li>
                                            <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                            <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                                            
                                        </ul>
                                    </div>
                                    <hr>
                                    <div class="ltn__safe-checkout">
                                        <h5>Guaranteed Safe Checkout</h5>
                                        <img src="{% static "img/icons/payment.png" %}" alt="Payment Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Shop Tab Start -->
                    <div class="ltn__shop-details-tab-inner ltn__shop-details-tab-inner-2">
                        <div class="ltn__shop-details-tab-menu">
                            <div class="nav">
                                <a class="active show" data-toggle="tab" href="#liton_tab_details_1_1">Description</a>
                                <a data-toggle="tab" href="#liton_tab_details_1_2" class="">Reviews</a>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="liton_tab_details_1_1">
                                <div class="ltn__shop-details-tab-content-inner">
                                    <h4 class="title-2">{{product.name}}</h4>
                                    <p>{{product.description}}</p> 
                                    <p>{{product.description}}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="liton_tab_details_1_2">
                                <div class="ltn__shop-details-tab-content-inner">
                                    <h4 class="title-2">Customer Reviews</h4>
                                    <div class="product-ratting">
                                        <ul>
                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                            <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                            <li class="review-total"> <a href="#"> ( 95 Reviews )</a></li>
                                        </ul>
                                    </div>
                                    <hr>
                                    <!-- comment-area -->
                                    <div class="ltn__comment-area mb-30">
                                        <div class="ltn__comment-inner">
                                            <ul>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-img">
                                                            <img src="{% static "img/testimonial/1.jpg" %}" alt="Image">
                                                        </div>
                                                        <div class="ltn__commenter-comment">
                                                            <h6><a href="#">Adam Smit</a></h6>
                                                            <div class="product-ratting">
                                                                <ul>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                                                </ul>
                                                            </div>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.</p>
                                                            <span class="ltn__comment-reply-btn">September 3, 2020</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-img">
                                                            <img src="{% static "img/testimonial/1.jpg" %}" alt="Image">
                                                        </div>
                                                        <div class="ltn__commenter-comment">
                                                            <h6><a href="#">Adam Smit</a></h6>
                                                            <div class="product-ratting">
                                                                <ul>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                                                </ul>
                                                            </div>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.</p>
                                                            <span class="ltn__comment-reply-btn">September 2, 2020</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="ltn__comment-item clearfix">
                                                        <div class="ltn__commenter-img">
                                                            <img src="{% static "img/testimonial/1.jpg" %}" alt="Image">
                                                        </div>
                                                        <div class="ltn__commenter-comment">
                                                            <h6><a href="#">Adam Smit</a></h6>
                                                            <div class="product-ratting">
                                                                <ul>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                                                </ul>
                                                            </div>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, omnis fugit corporis iste magnam ratione.</p>
                                                            <span class="ltn__comment-reply-btn">September 2, 2020</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- comment-reply -->
                                    <div class="ltn__comment-reply-area ltn__form-box mb-30">
                                        <form action="#">
                                            <h4 class="title-2">Add a Review</h4>
                                            <div class="mb-30">
                                                <div class="add-a-review">
                                                    <h6>Your Ratings:</h6>
                                                    <div class="product-ratting">
                                                        <ul>
                                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                            <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                            <li><a href="#"><i class="far fa-star"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-item input-item-textarea ltn__custom-icon">
                                                <textarea placeholder="Type your comments...."></textarea>
                                            </div>
                                            <div class="input-item input-item-name ltn__custom-icon">
                                                <input type="text" placeholder="Type your name....">
                                            </div>
                                            <div class="input-item input-item-email ltn__custom-icon">
                                                <input type="email" placeholder="Type your email....">
                                            </div>
                                            <div class="input-item input-item-website ltn__custom-icon">
                                                <input type="text" name="website" placeholder="Type your website....">
                                            </div>
                                            <label class="mb-0"><input type="checkbox" name="agree"> Save my name, email, and website in this browser for the next time I comment.</label>
                                            <div class="btn-wrapper">
                                                <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Shop Tab End -->
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar ltn__shop-sidebar ltn__right-sidebar">
                        <!-- Top Rated Product Widget -->
                        <div class="widget ltn__top-rated-product-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Top Rated Product</h4>
                            <ul>
                                {% for product in top_rated %}
                                <li>
                                    <div class="top-rated-product-item clearfix">
                                        <div class="top-rated-product-img">
                                            <a href="/products/{{product.id}}"><img src="{{product.images.first.image.url}}" alt="#"></a>
                                        </div>
                                        <div class="top-rated-product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    {% comment %} Rating {% endcomment %}
                                                    {% if product.rating <= 0 %}
                                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    {% endif %}
                                                    {% if product.rating < 1 and product.rating > 0 %}
                                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                    {% endif %}
                                                    {% if product.rating >= 1 %}
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    {% endif %}
                                                    {% comment %} End {% endcomment %}

                                                    {% comment %} Rating {% endcomment %}
                                                    {% if product.rating < 1 %}
                                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    {% endif %}
                                                    {% if product.rating < 2 and product.rating > 1 %}
                                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                    {% endif %}
                                                    {% if product.rating >= 2 %}
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    {% endif %}
                                                    {% comment %} End {% endcomment %}
                                                    
                                                    {% comment %} Rating {% endcomment %}
                                                    {% if product.rating <= 2 %}
                                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    {% endif %}
                                                    {% if product.rating < 3 and product.rating > 2 %}
                                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                    {% endif %}
                                                    {% if product.rating >= 3 %}
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    {% endif %}
                                                    {% comment %} End {% endcomment %}

                                                    {% comment %} Rating {% endcomment %}
                                                    {% if product.rating <= 3 %}
                                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    {% endif %}
                                                    {% if product.rating < 4 and product.rating > 3 %}
                                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                    {% endif %}
                                                    {% if product.rating >= 4 %}
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    {% endif %}
                                                    {% comment %} End {% endcomment %}

                                                    {% comment %} Rating {% endcomment %}
                                                    {% if product.rating <= 4 %}
                                                        <li><a href="#"><i class="far fa-star"></i></a></li>
                                                    {% endif %}
                                                    {% if product.rating < 5 and product.rating > 4 %}
                                                        <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                                    {% endif %}
                                                    {% if product.rating >= 5 %}
                                                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                                                    {% endif %}
                                                    {% comment %} End {% endcomment %}
                                                </ul>
                                            </div>
                                            <h6><a href="/products/{{product.id}}">{{product.name}}</a></h6>
                                            <div class="product-price">
                                                <span>${{ product|calculate_discounted_price }}</span>
                                                <del>${{ product.price }}</del>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP DETAILS AREA END -->

    <!-- PRODUCT SLIDER AREA START -->
    <div class="ltn__product-slider-area ltn__product-gutter pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2">
                        <h6 class="section-subtitle ltn__secondary-color">//  Products</h6>
                        <h1 class="section-title">Related Products<span>.</span></h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__related-product-slider-one-active slick-arrow-1">
                <!-- ltn__product-item -->
                {% for product in related_products %}
                <div class="col-lg-12">
                    <div class="ltn__product-item ltn__product-item-3 text-center">
                        <div class="product-img">
                            <a href="/products/{{product.id}}"><img src="{{product.images.first.image.url}}" alt="#"></a>
                            <div class="product-badge">
                                <ul>
                                    <li class="sale-badge">New</li>
                                </ul>
                            </div>
                            <div class="product-hover-action">
                                <ul>
                                    <li onclick="quickView(`{{product.id}}`, `{{product.name}}`, `{{product.images.first.image.url}}`, `{{product.category}}`, `{{product.price}}`, `{{product.rating}}`)">
                                        <a href="#" title="Quick View" data-toggle="modal" data-target="#quick_view_modal">
                                            <i class="far fa-eye"></i>
                                        </a>
                                    </li>
                                    <li onclick="addCart(`{{product.id}}`, `{{product.name}}`, `{{product.images.first.image.url}}`, `{{product.stock}}`)">
                                        <a href="#" title="Add to Cart" data-toggle="modal" data-target="#add_to_cart_modal" data-product="{{ product }}">
                                          <i class="fas fa-shopping-cart"></i>
                                        </a>
                                      </li>
                                    <li onclick="addToWishlist(`{{product.id}}`, `{{product.name}}`, `{{product.images.first.image.url}}`)">
                                        <a href="#" title="Wishlist" data-toggle="modal" data-target="#liton_wishlist_modal">
                                            <i class="far fa-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-ratting">
                                <ul>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star"></i></a></li>
                                    <li><a href="#"><i class="fas fa-star-half-alt"></i></a></li>
                                    <li><a href="#"><i class="far fa-star"></i></a></li>
                                </ul>
                            </div>
                            <h2 class="product-title"><a href="/products/{{product.id}}">{{product.name}}</a></h2>
                            <div class="product-price">
                                <span>${{product|calculate_discounted_price}}</span>
                                <del>${{product.price}}</del>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- PRODUCT SLIDER AREA END -->

    {% include "components/user/feature.html" %}
    {% include "components/user/footer.html" %}
    {% include "components/user/modal-quick-view.html" %}
    {% include "components/user/modal-cart.html" %}
    {% include "components/user/modal-wishlist.html" %}

    <script>
        const addToCart = async (proId) => {
        const url = window.location.origin
        const qty = document.getElementById('quantity').value;
        const response = await fetch(url+'/cart/add/'+proId+'/'+qty)
        $('#add_to_cart_modal').modal('show');
        //extract JSON from the http response
        // do something with myJson
        }

        const addCart = async (proId, name, image, stock) => {
        if(stock > 0){
            const url = window.location.origin
            const response = await fetch(url+'/cart/add/'+proId+'/'+1)
        }else{
            $('#modal-product-status').html('Currently unavailable.');
        }
        $('#modal-product-name').html(name);
        $('#modal-product-image').attr('src',image);
        //extract JSON from the http response
        // do something with myJson
        }

        const addToWishlist = async(proId, name, image)=>{
            const url = window.location.origin
            const response = await fetch(url+'/wishlists/add/'+proId)
            $('#modal-wishlist-product-name').html(name);
            $('#modal-wishlist-product-image').attr('src',image);
        }

        const quickView = async(proId, name, image, category, price, rating)=>{

            $('#modal-quick-view-product-id').html(proId);
            $('#modal-quick-view-product-name').html(name);
            $('#modal-quick-view-product-image').attr('src',image);
            $('#modal-quick-view-product-price').html('$'+price);
            $('#modal-quick-view-product-category').html(category);
            $('#modal-quick-view-product-stock').attr('product-stock',stock);
            $('#modal-quick-view-product-rating').attr('src',rating);
        }
    </script>

{% endblock content %}
