{% extends "public/user/base.html" %}

{% block title %}Products{% endblock title %}

{% block content %}

{% load static %}
{% load custom_filters %}
    {% include "components/user/toast.html" %}
    {% include "components/user/header.html" %}
    {% include "components/user/cart.html" %}
    {% include "components/user/mobile.html" %}
    {% include "components/user/breadcrumb.html" with title='Products' %}

    <!-- PRODUCT DETAILS AREA START -->
    <div class="ltn__product-area ltn__product-gutter">
        <div class="container">
            <div class="row">
                {% if messages %}
                    {% for message in messages %}
                        <span id="django-message" data-message="{{ message }}" data-tags="{{ message.tags }}"></span>
                    {% endfor %}
                {% endif %}
                <div class="col-lg-8 order-lg-2 mb-120">
                    <div class="ltn__shop-options">
                        <ul>
                            <li>
                                <div class="ltn__grid-list-tab-menu ">
                                    <div class="nav">
                                        <a class="active show" data-toggle="tab" href="#liton_product_grid"><i
                                                class="fas fa-th-large"></i></a>
                                        <a data-toggle="tab" href="#liton_product_list"><i class="fas fa-list"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="short-by text-center">
                                    <form id="sortForm" method="get">
                                        <select id="sortSelect" name="sort_by" class="nice-select" onchange="submitForm()">
                                            <option value="" {% if request.GET.sort_by != 'rating' %}selected{% endif %}>Default sorting</option>
                                            <option value="-rating" {% if request.GET.sort_by == 'rating' %}selected{% endif %}>Sort by popularity</option>
                                            <option value="-created_at" {% if request.GET.sort_by == 'created_at' %}selected{% endif %}>Sort by new arrivals</option>
                                            <option value="price" {% if request.GET.sort_by == 'price' %}selected{% endif %}>Sort by price: low to high</option>
                                            <option value="-price" {% if request.GET.sort_by == 'ratings' %}selected{% endif %}>Sort by price: high to low</option>
                                        </select>
                                    </form>
                                </div>
                            </li>
                            <li>
                                <div class="showing-product-number text-right">
                                    <span>Showing {{ products.number | page_number_start }} of {{ products.number | page_number_end }} results</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_product_grid">
                            <div class="ltn__product-tab-content-inner ltn__product-grid-view">
                                <div class="row">
                                    <!-- ltn__product-item -->
                                    {% for product in products %}
                                    <div class="col-xl-4 col-sm-6 col-6">
                                        <div class="ltn__product-item ltn__product-item-3 text-center">
                                            <div class="product-img">
                                                <a href="/products/{{product.id}}"><img src="{{product.images.first.image.url}}" alt="#"></a>
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badge">New</li>
                                                    </ul>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li onclick="quickView(`{{product.id}}`, `{{product.name}}`, `{{product.images.first.image.url}}`, `{{product.category}}`, `{{product.price}}`, `{{product.rating}}`)">
                                                            <a href="#" title="Quick View" data-toggle="modal" data-target="#quick_view_modal">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </li>
                                                        <li onclick="addCart(`{{product.id}}`, `{{product.name}}`, `{{product.images.first.image.url}}`, `{{product.stock}}`)">
                                                            <a href="#" title="Add to Cart" data-toggle="modal" data-target="#add_to_cart_modal" data-product="{{ product }}">
                                                              <i class="fas fa-shopping-cart"></i>
                                                            </a>
                                                          </li>
                                                        <li onclick="addToWishlist(`{{product.id}}`, `{{product.name}}`, `{{product.images.first.image.url}}`)">
                                                            <a href="#" title="Wishlist" data-toggle="modal" data-target="#liton_wishlist_modal">
                                                                <i class="far fa-heart"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-ratting">
                                                    <ul class="star-rating">
                                                        {% for rating in 5|custom_range %}
                                                        {% with rating|add:"-0.5" as half_rating %}
                                                            {% if product.rating >= rating %}
                                                            <a><li><i class="fas fa-star"></i></li></a>
                                                            {% elif product.rating >= half_rating %}
                                                            <a><li><i class="fas fa-star-half-alt"></i></li></a>
                                                            {% else %}
                                                            <a><li><i class="far fa-star"></i></li></a>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <h2 class="product-title"><a href="/products/{{product.id}}">{{product.name}}</a>
                                                </h2>
                                                <div class="product-price">
                                                    <span>${{ product|calculate_discounted_price }}</span>
                                                    <del>${{product.price}}</del>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <!-- ltn__product-item -->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="liton_product_list">
                            <div class="ltn__product-tab-content-inner ltn__product-list-view">
                                <div class="row">
                                    <!-- ltn__product-item -->
                                    {% for product in products %}
                                        <div class="col-lg-12">
                                            <div class="ltn__product-item ltn__product-item-3">
                                                <div class="product-img">
                                                    <a href="/products/{{product.id}}"><img src="{{product.images.first.image.url}}" alt="#"></a>
                                                    <div class="product-badge">
                                                        <ul>
                                                            <li class="sale-badge">New</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-info">
                                                    <h2 class="product-title"><a href="/products/{{product.id}}">{{product.name}}</a></h2>
                                                    <div class="product-ratting">
                                                        <ul class="star-rating">
                                                            {% for rating in 5|custom_range %}
                                                            {% with rating|add:"-0.5" as half_rating %}
                                                                {% if product.rating >= rating %}
                                                                <a><li><i class="fas fa-star"></i></li></a>
                                                                {% elif product.rating >= half_rating %}
                                                                <a><li><i class="fas fa-star-half-alt"></i></li></a>
                                                                {% else %}
                                                                <a><li><i class="far fa-star"></i></li></a>
                                                                {% endif %}
                                                            {% endwith %}
                                                            {% endfor %}
                                                            <li class="review-total"><a href="#">({{ review_count }} Reviews)</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>${{ product|calculate_discounted_price }}</span>
                                                        <del>${{product.price}}</del>
                                                    </div>
                                                    <div class="product-brief">
                                                        <p>{{product.description}}</p>
                                                    </div>
                                                    <div class="product-hover-action">
                                                        <ul>
                                                            <li onclick="quickView(`{{product.id}}`, `{{product.name}}`, `{{product.images.first.image.url}}`, `{{product.category}}`, `{{product.price}}`, `{{product.rating}}`)">
                                                                <a href="#" title="Quick View" data-toggle="modal" data-target="#quick_view_modal">
                                                                    <i class="far fa-eye"></i>
                                                                </a>
                                                            </li>
                                                            <li onclick="addCart(`{{product.id}}`, `{{product.name}}`, `{{product.images.first.image.url}}`, `{{product.stock}}`)">
                                                                <a href="#" title="Add to Cart" data-toggle="modal" data-target="#add_to_cart_modal" data-product="{{ product }}">
                                                                  <i class="fas fa-shopping-cart"></i>
                                                                </a>
                                                              </li>
                                                            <li onclick="addToWishlist(`{{product.id}}`, `{{product.name}}`, `{{product.images.first.image.url}}`)">
                                                                <a href="#" title="Wishlist" data-toggle="modal" data-target="#liton_wishlist_modal">
                                                                    <i class="far fa-heart"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ltn__pagination-area text-center">
                        <div class="ltn__pagination">
                            <ul>

                                <!-- Previous page link -->
                                {% if products.has_previous %}
                                    <li class="{% if not products.has_previous %} disabled{% endif %}"><a href="?page=1"><i class="fas fa-angle-double-left"></i></a></li>
                                {% endif %}
                    
                                <!-- Current page link -->
                                {% for page_num in products.paginator.page_range %}
                                <li class="{% if page_num == products.number %} active{% endif %}"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endfor %}

                                <!-- Next page link -->
                                {% if products.has_next %}
                                    <li class="{% if not products.has_next %} disabled{% endif %}"><a href="?page={{ products.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a></li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  mb-120">
                    <aside class="sidebar ltn__shop-sidebar">
                        <!-- Category Widget -->
                        <div class="widget ltn__menu-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Product categories</h4>
                            <ul>
                                {% for category in categories %}
                                    <li><a href="/products?category={{category.id}}">{{category.name}} <span><i class="fas fa-long-arrow-alt-right"></i></span></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <!-- Top Rated Product Widget -->
                        <div class="widget ltn__top-rated-product-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Top Rated Product</h4>
                            <ul>
                            {% for product in top_rated %}
                                <li>
                                        <div class="top-rated-product-item clearfix">
                                            <div class="top-rated-product-img">
                                                <a href="/products/{{product.id}}"><img src="{{product.images.first.image.url}}" alt="#"></a>
                                            </div>
                                            <div class="top-rated-product-info">
                                                <div class="product-ratting">
                                                    <ul class="star-rating">
                                                        {% for rating in 5|custom_range %}
                                                        {% with rating|add:"-0.5" as half_rating %}
                                                            {% if product.rating >= rating %}
                                                            <a><li><i class="fas fa-star"></i></li></a>
                                                            {% elif product.rating >= half_rating %}
                                                            <a><li><i class="fas fa-star-half-alt"></i></li></a>
                                                            {% else %}
                                                            <a><li><i class="far fa-star"></i></li></a>
                                                            {% endif %}
                                                        {% endwith %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <h6><a href="/products/{{product.id}}">{{product.name}}</a></h6>
                                                <div class="product-price">
                                                    <span>${{ product|calculate_discounted_price }}</span>
                                                    <del>${{product.price}}</del>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                            {% endfor %}
                            </ul>
                        </div>
                        
                        <!-- Tagcloud Widget -->
                        <div class="widget ltn__tagcloud-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border">Popular Items</h4>
                            <ul>
                            {% for product in products %}
                                <li><a href="/products/{{product.id}}">{{product.name}}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                        

                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT DETAILS AREA END -->
    
    {% include "components/user/feature.html" %}
    {% include "components/user/footer.html" %}
    {% include "components/user/modal-quick-view.html" %}
    {% include "components/user/modal-cart.html" %}
    {% include "components/user/modal-wishlist.html" %}

    <script>
        function submitForm() {
            document.getElementById("sortForm").submit();
        }

        const addCart = async (proId, name, image, stock) => {
        if(stock > 0){
            const url = window.location.origin
            const response = await fetch(url+'/cart/add/'+proId+'/'+1)
            $('#modal-product-status').html('Successfully added to your Cart.');
        }else{
            $('#modal-product-status').html('Currently unavailable.');
        }
        $('#modal-product-name').html(name);
        $('#modal-product-image').attr('src',image);
        //extract JSON from the http response
        // do something with myJson
        }

        const addToWishlist = async(proId, name, image)=>{
            const url = window.location.origin
            const response = await fetch(url+'/wishlists/add/'+proId)
            $('#modal-wishlist-product-name').html(name);
            $('#modal-wishlist-product-image').attr('src',image);
        }

        const quickView = async(proId, name, image, category, price, rating)=>{

            $('#modal-quick-view-product-id').html(proId);
            $('#modal-quick-view-product-name').html(name);
            $('#modal-quick-view-product-image').attr('src',image);
            $('#modal-quick-view-product-price').html('$'+price);
            $('#modal-quick-view-product-category').html(category);
            $('#modal-quick-view-product-stock').attr('product-stock',stock);
            $('#modal-quick-view-product-rating').attr('src',rating);
        }
    </script>

{% endblock content %}