{% extends "public/user/base.html" %}

{% block title %}Wishlist{% endblock title %}
{% load static %}
{% load custom_filters %}

{% block content %}
    
    {% include "components/user/header.html" %}
    {% include "components/user/cart.html" %}
    {% include "components/user/mobile.html" %}
    {% include "components/user/breadcrumb.html" with title='Wishlist' %}

    <!-- WISHLIST AREA START -->
    <div class="liton__wishlist-area mb-105">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if wishlists %}
                    <div class="shoping-cart-inner">
                        <div class="shoping-cart-table table-responsive">
                            <table class="table">

                                <tbody>
                                    {% for wishlist in wishlists %}
                                    <tr>
                                        <td class="cart-product-remove">{{forloop.counter}}</td>
                                        <td class="cart-product-image">
                                            <a href="/products/{{wishlist.product.id}}"><img src="{{wishlist.product.images.first.image.url}}" alt="#"></a>
                                        </td>
                                        <td class="cart-product-info col-md-2">
                                            <h4><a href="/products/{{wishlist.product.id}}">{{wishlist.product.name}}</a></h4>
                                        </td>
                                        <td class="cart-product-price">${{wishlist.product.price}}</td>
                                        <td class="cart-product-stock">
                                            {% if wishlist.product.is_available == True %}
                                            <i class='bx bxs-check-circle' style="color: #80B500;"></i>
                                            {% endif %}

                                            {% if wishlist.product.is_available == False %}
                                            <i class='bx bxs-x-circle' style="color: #FF6161;"></i>
                                            {% endif %}
                                        </td>
                                        <td class="cart-product-add-cart">
                                            <div class="product-ratting">
                                                <ul class="star-rating">
                                                    {% for rating in 5|custom_range %}
                                                    {% with rating|add:"-0.5" as half_rating %}
                                                        {% if wishlist.product.rating >= rating %}
                                                        <a><li><i class="fas fa-star"></i></li></a>
                                                        {% elif product.rating >= half_rating %}
                                                        <a><li><i class="fas fa-star-half-alt"></i></li></a>
                                                        {% else %}
                                                        <a><li><i class="far fa-star"></i></li></a>
                                                        {% endif %}
                                                    {% endwith %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="cart-product-remove-cart">
                                            <a href="/wishlists/remove/{{wishlist.product.id}}">
                                                <i class="btn btx bx bx-trash"></i>
                                            </a>
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                            <div class="shoping-cart-table table-responsive">
                                <div style="text-align: center;">
                                    <img style="max-width: 50%;" src="{% static "img/others/wishlist_empty.jpeg" %}" alt="">
                                </div>
                                <div style="text-align: center;">
                                    <h3>Your wishlist is empty</h3>
                                    <p>Looks like you have not added anything to your wishlist. <br>Go ahead & explore top categories.</p>
                                </div>
                                <div style="text-align: center;">
                                    <a href="/" class="theme-btn-1 btn black-btn">Continue Shopping</a>
                                </div>
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- WISHLIST AREA START -->

    {% include "components/user/feature.html" %}
    {% include "components/user/footer.html" %}

{% endblock content %}

