{% extends "public/user/base.html" %}

{% block title %}Wishlist{% endblock title %}

{% block content %}
    
    {% include "components/user/header.html" %}
    {% include "components/user/cart.html" %}
    {% include "components/user/mobile.html" %}
    {% include "components/user/breadcrumb.html" with title='Wishlist' %}

    <!-- WISHLIST AREA START -->
    <div class="liton__wishlist-area mb-105">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping-cart-inner">
                        <div class="shoping-cart-table table-responsive">
                            <table class="table">

                                <tbody>
                                    {% for wishlist in wishlists %}
                                    <tr>
                                        <td class="cart-product-remove">{{forloop.counter}}</td>
                                        <td class="cart-product-image">
                                            <a href="product-details.html"><img src="{{wishlist.product.images.first.image.url}}" alt="#"></a>
                                        </td>
                                        <td class="cart-product-info">
                                            <h4><a href="product-details.html">{{wishlist.product.name}}</a></h4>
                                        </td>
                                        <td class="cart-product-price">${{wishlist.product.price}}</td>
                                        <td class="cart-product-stock">
                                            {% if wishlist.product.is_available == True %}
                                            <i class='bx bxs-check-circle' style="color: #80B500;"></i>
                                            {% endif %}

                                            {% if wishlist.product.is_available == False %}
                                            <i class='bx bxs-x-circle' style="color: #FF6161;"></i>
                                            {% endif %}
                                        </td>
                                        <td class="cart-product-add-cart">
                                            <a class="submit-button-1" href="#" title="Add to Cart" data-toggle="modal" data-target="#add_to_cart_modal">Add to Cart</a>
                                        </td>
                                        <td class="cart-product-remove-cart">
                                            <a href="/wishlists/remove/{{wishlist.product.id}}">
                                                <i class="btn btx bx bx-trash"></i>
                                            </a>
                                        </td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- WISHLIST AREA START -->

    {% include "components/user/feature.html" %}
    {% include "components/user/footer.html" %}

{% endblock content %}

