<ul class="nav nav-pills flex-column flex-md-row mb-3">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == "root_categories" %}active{% endif %}" href="/root/categories"><i class="bx bx-package"></i>
            Categories</a>
   
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == "root_add_categories" %}active{% endif %}" href="/root/categories/add"><i class="bx bx-plus me-1"></i>
            Add Category</a>
    </li>
</ul>