<ul class="nav nav-pills flex-column flex-md-row mb-3">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == "root_category_promotions" %}active{% endif %}" href="/accounts/promotions/categories"><i class="bx bxs-discount"></i>
            Category Promotions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == "root_add_category_promotions" %}active{% endif %}" href="/accounts/promotions/categories/add"><i class="bx bx-plus me-1"></i>
            Add Promotion</a>
    </li>
</ul>