<ul class="nav nav-pills flex-column flex-md-row mb-3">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == "root_discounts" %}active{% endif %}" href="/accounts/discounts"><i class="bx bxs-discount"></i>
            Discounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == "root_add_discounts" %}active{% endif %}" href="/accounts/discounts/add"><i class="bx bx-plus me-1"></i>
            Add Discount</a>
    </li>
</ul>