<!-- MODAL AREA START (Wishlist Modal) -->
<div class="ltn__modal-area ltn__add-to-cart-modal-area">
    <div class="modal fade" id="liton_wishlist_modal" tabindex="-1">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <style>
                        .modal-header .close {
                            position: absolute;
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            padding: 0;
                            right: 16px;
                            left: auto;
                            top: 16px;
                            opacity: 1;
                            z-index: 1;
                            -webkit-transition: all 0.3s ease 0s;
                            -o-transition: all 0.3s ease 0s;
                            transition: all 0.3s ease 0s;
                            border: 0px;
                        }

                        .modal-header .close span {
                            display: block;
                            font-size: 25px;
                        }
                    </style>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="ltn__quick-view-modal-inner">
                        <div class="modal-product-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <h5 class="card-header">Cancel Order</h5>
                                        <div class="card-body">
                                            <div class="mb-3 col-12 mb-0">
                                                <div class="alert alert-warning">
                                                    <h6 class="alert-heading fw-bold mb-1">Are you sure you want to
                                                        cancel this order?</h6>
                                                    <p class="mb-0">Once you cancel this account, there is no going
                                                        back. Please be certain.</p>
                                                </div>
                                            </div>
                                            <form id="formAccountDeactivation" action="">
                                                <div class="form-check mb-3">
                                                    <input class="form-check-input" type="checkbox" id="accountActivation" required/>
                                                    <label class="form-check-label" for="accountActivation">I confirm
                                                        this order cancellation</label>
                                                </div>
                                                <button type="submit"
                                                    class="btn btn-danger deactivate-account">Cancel</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL AREA END -->