<ul class="nav nav-pills flex-column flex-md-row mb-3">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == "root_products" %}active{% endif %}" href="/accounts/products"><i class="bx bx-package"></i>
            Products</a>
   
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == "root_add_products" %}active{% endif %}" href="/accounts/products/add"><i class="bx bx-plus me-1"></i>
            Add Product</a>
    </li>
</ul>