{% extends "public/admin/base.html" %}

{% block title %}Products{% endblock title %}

{% load static %}

{% block content %}
{% include "components/admin/aside.html" %}
<!-- Layout container -->
<div class="layout-page">

    {% include "components/admin/searchbar.html" %}
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">Product Management /</span>Add Product
            </h4>

            <div class="row">
                <div class="col-md-12">
                    {% include "components/admin/product_manage_button.html" %}
                    <div class="card mb-4">
                        <h5 class="card-header">Product Details</h5>
                        <!-- Account -->
                        <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for message in messages %}<p style="text-align: center;" class="{{message.tags}}-message">{{message}}</p>{% endfor %}
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img src="" alt="Product Image"
                                class="d-block rounded" height="100" width="100" id="uploadedAvatar"/>
                                <div class="button-wrapper">
                                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">Upload new photo</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file" id="upload" class="account-file-input" hidden
                                            accept="image/png, image/jpeg" name="image" multiple required/>
                                    </label>
                                    <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                        <i class="bx bx-reset d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Reset</span>
                                    </button>

                                    <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body">
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="firstName" class="form-label">Name</label>
                                        <input class="form-control" type="text" id="firstName" name="name"
                                            autofocus required/>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="lastName" class="form-label">Price</label>
                                        <input class="form-control" type="number" value="0" min="0" max="10000" name="price" id="lastName" step="any" required/>
                                    </div>
                                    <div class="mb-2 col-md-4">
                                        <label class="form-label" for="country">Category</label>
                                        <select id="country" class="select2 form-select" name="category" required>
                                            <option value="">Select</option>
                                            {% for category in categories %}
                                                <option value="{{category.name}}">{{category.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-2 col-md-4">
                                        <label for="organization" class="form-label">Quantity</label>
                                        <input type="number" class="form-control" id="organization" name="stock" required/>
                                    </div>
                                    <div class="mb-2 col-md-4">
                                        <label for="organization" class="form-label">Rating</label>
                                        <select id="country" class="select2 form-select" name="rating" required>
                                            <option value="">Select</option>
                                            <option value="0">0</option>
                                            <option value="0.5">0.5</option>
                                            <option value="1">1</option>
                                            <option value="1.5">1.5</option>
                                            <option value="2">2</option>
                                            <option value="2.5">2.5</option>
                                            <option value="3">3</option>
                                            <option value="3.5">3.5</option>
                                            <option value="4">4</option>
                                            <option value="4.5">4.5</option>
                                            <option value="5">5</option>
                                        </select>
                                        
                                    </div>
                                    <div class="mb-6 col-md-12">
                                        <label for="address" class="form-label">Description</label>
                                        <textarea type="text" class="form-control" id="address" name="description"
                                            placeholder="Description"></textarea>
                                    </div>
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary me-2">Save</button>
                                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                    </div>
                        </div>
                    </form>
                        <!-- /Account -->
                    </div>
                </div>
            </div>
        </div>
        <!-- / Content -->


        {% include "components/admin/footer.html" %}

        <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->
</div>
<!-- / Layout page -->
<script>
    var input = document.getElementById('upload');

    // Listen for the change event on the input element
    input.addEventListener('change', function(event) {
        var file = event.target.files[0]; // Get the selected file
        if (file) {
            var reader = new FileReader(); // Create a FileReader object
            reader.onload = function(event) {
                var img = new Image(); // Create an Image object
                img.src = event.target.result; // Set the src attribute to the data URL of the selected file
                img.onload = function() {
                    // Replace the src attribute of the existing image with the new image's data URL
                    document.getElementById('uploadedAvatar').src = img.src;
                };
            };
            reader.readAsDataURL(file); // Read the contents of the selected file
        }
    });
</script>
{% endblock content %}