{% load static %}
<!-- SLIDER AREA START (slider-3) -->
<div class="ltn__slider-area ltn__slider-3  section-bg-1">
    <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1 arrow-white">
        <!-- ltn__slide-item -->
        <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 text-color-white bg-image"
            data-bg="{% static "img/slider/11.jpg" %}">
            <div class="ltn__slide-item-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-info">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <h6 class="slide-sub-title animated"><img src="{% static 'img/icons/icon-img/1.png' %}" alt="#">
                                        100% genuine Products</h6>
                                    <h1 class="slide-title animated ">Tasty & Healthy <br> Organic Food</h1>
                                    <div class="slide-brief animated">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore.</p>
                                    </div>
                                    <div class="btn-wrapper animated">
                                        <a href="shop.html" class="theme-btn-1 btn btn-effect-1 text-uppercase">Explore
                                            Products</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="slide-item-img">
                                    <img src="img/slider/23.png" alt="#">
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ltn__slide-item -->
        <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3 text-color-white bg-image"
            data-bg="{% static "img/slider/11.jpg" %}">
            <div class="ltn__slide-item-inner  text-right">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-self-center">
                            <div class="slide-item-info">
                                <div class="slide-item-info-inner ltn__slide-animation">
                                    <h6 class="slide-sub-title animated"><img src="{% static 'img/icons/icon-img/1.png' %}" alt="#">
                                        100% genuine Products</h6>
                                    <h1 class="slide-title animated ">Our Garden's Most <br> Favorite Food</h1>
                                    <div class="slide-brief animated">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore.</p>
                                    </div>
                                    <div class="btn-wrapper animated">
                                        <a href="shop.html" class="theme-btn-1 btn btn-effect-1 text-uppercase">Explore
                                            Products</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="slide-item-img slide-img-left">
                                    <img src="img/slider/21.png" alt="#">
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
</div>
<!-- SLIDER AREA END -->